.Party-links {
  color: red;
}
.Party-links {
  padding-right: 30px;
  display: grid;
  grid-template-columns: 325px 325px 325px;
  justify-content: space-evenly;
}

.Party-links li {
  list-style-type: none;
  border: 2px solid red;

  margin: 15px;
  padding: 12px;
}

.Party-links li a {
  color: black;
  text-align: start;
}
.Party-links li a:hover {
  font-size: 110%;
}
